<p>
  <label><%= l(:in_process_status_id, scope: 'settings.redmine_one_issue_in_process_only') %></label>
  <%= select_tag(
      'settings[in_process_status_id]',
      options_for_select(
          IssueStatus.order(:position).pluck(:name, :id),
          IssueStatus.find_by(id: @settings['in_process_status_id']).try(:id)),
      include_blank: true) %>
</p>
<p>
  <label><%= l(:on_hold_status_id, scope: 'settings.redmine_one_issue_in_process_only') %></label>
  <%= select_tag(
      'settings[on_hold_status_id]',
      options_for_select(
          IssueStatus.order(:position).pluck(:name, :id),
          IssueStatus.find_by(id: @settings['on_hold_status_id']).try(:id)),
      include_blank: true) %>
</p>
<p>
  <label><%= l(:isnt_parent_issue_in_process, scope: 'settings.redmine_one_issue_in_process_only') %></label>
  <%= check_box_tag 'settings[isnt_parent_issue_in_process]', '1', @settings['isnt_parent_issue_in_process'] %>
</p>
<p>
  <label><%= l(:create_time_entry, scope: 'settings.redmine_one_issue_in_process_only') %></label>
  <%= check_box_tag 'settings[create_time_entry]', '1', @settings['create_time_entry'] %>
</p>
<p>
  <label><%= l(:default_time_entry_activity_id, scope: 'settings.redmine_one_issue_in_process_only') %></label>
  <%= select_tag(
          'settings[default_time_entry_activity_id]',
          options_for_select(
              TimeEntryActivity.order(:position).pluck(:name, :id),
              TimeEntryActivity.find_by(id: @settings['default_time_entry_activity_id']).try(:id)),
          include_blank: true) %>
</p>
